/* line 3, fake_chat.sass */
html {
  margin-bottom: 5%;
  padding-top: 5%;
}

/* line 6, fake_chat.sass */
.header {
  height: 10%;
  background-color: #075e54;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}
/* line 13, fake_chat.sass */
.header .logo {
  height: 60%;
  margin: 1% 1%;
}
/* line 16, fake_chat.sass */
.header h1 {
  color: white;
  line-height: 75%;
}
/* line 19, fake_chat.sass */
.header .name {
  line-height: 75%;
  height: 50%;
  margin: 1.5% 0% 1% 1%;
  border: none;
  background-color: inherit;
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}
/* line 32, fake_chat.sass */
.header input:focus {
  outline: none;
}
/* line 34, fake_chat.sass */
.header input::placeholder {
  color: gray;
  font-size: 100%;
  font-weight: lighter;
}

/* line 38, fake_chat.sass */
.message {
  position: fixed;
  bottom: 0;
  width: 91%;
  margin-bottom: 1%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  height: 50px;
  padding-left: 1%;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border: 2px solid gray;
}

/* line 52, fake_chat.sass */
.message:focus {
  outline: none;
}

/* line 54, fake_chat.sass */
.left {
  border: 2px solid black;
  margin-bottom: 1%;
  margin-left: 0.5%;
  position: fixed;
  bottom: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
}

/* line 64, fake_chat.sass */
.left:focus {
  outline: none;
}

/* line 66, fake_chat.sass */
.right {
  border: 2px solid black;
  margin-bottom: 1%;
  margin-left: 96%;
  position: fixed;
  bottom: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #dcf8c6;
}

/* line 76, fake_chat.sass */
.right:focus {
  outline: none;
}

/* line 78, fake_chat.sass */
.clear {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  margin-bottom: 1%;
  margin-left: 91%;
}
