@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Open+Sans+Condensed:300|Raleway|Barrio");
/* line 2, index.sass */
h1 {
  text-align: center;
  font-family: "Barrio", cursive;
  font-size: 50px;
}

/* line 6, index.sass */
ul {
  list-style-type: none;
}

/* line 8, index.sass */
li {
  counter-increment: item;
  align-items: left;
  line-height: 50px;
}

/* line 13, index.sass */
li::before {
  content: counter(item);
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  margin-right: 5px;
  color: gray;
  font-family: Raleway;
}

/* line 21, index.sass */
a, a:hover {
  text-decoration: none;
  font-family: Open Sans Condensed;
  font-size: 30px;
}

/* line 25, index.sass */
a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  color: black;
}

/* line 30, index.sass */
a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

/* line 39, index.sass */
a:hover:after {
  width: 100%;
  background: purple;
}

@media (max-width: 600px) {
  /* line 43, index.sass */
  h1 {
    font-size: 35px;
  }

  /* line 45, index.sass */
  li::before {
    font-size: 25px;
  }

  /* line 47, index.sass */
  a, a:hover {
    font-size: 20px;
  }
}
