/* line 1, stack.sass */
div {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

/* line 5, stack.sass */
input {
  padding: 10px;
  background: white;
}

/* line 8, stack.sass */
input:focus {
  border: none;
}

/* line 10, stack.sass */
input:hover {
  color: white;
}

/* line 12, stack.sass */
.push {
  border: 1px solid green;
}

/* line 14, stack.sass */
.push:hover {
  background: green;
}

/* line 16, stack.sass */
.pop {
  border: 1px solid red;
}

/* line 18, stack.sass */
.pop:hover {
  background: red;
}
